# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Distribuição / empacotamento
dist/
build/
*.egg-info/